*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.navbar{
    display: flex;
    flex: 1;
    justify-content: space-between;
    border-bottom: 1px solid black;
    height: 12vh;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: inherit;
    align-items: center;
    cursor: pointer;

}
.navbar-left{
    
     margin-left: 250px;
    display: flex;
    align-items: center;
     gap: 50px;
    justify-content: space-evenly;
    width: 5vw;
    height: 4vh;
}
.navbar-left .navbar-items:hover{
    background-color: #04aa6d;
    width: 10vw;
    height: 85px;
   
}


.navbar-right{
    display: grid;
    grid-template-areas: "a a a a a a";
    gap: 20px;
    justify-content: right;  
    margin-right: 10px;
}

.navbar-right .navbar-buttons{
    display: flex;
     font-size: 90%; 

    border: none;
    border-radius: 12px;
    padding-left: 15px;
    min-height:30px; 
    min-width: 130px;
}
.navbar-items{
    display: flex;
    align-items: center;
   
}
.navbar-right .navbar-items:hover{
 
    background-color: #04aa6d;
    /* border-radius: 12px; */
  
}
.Main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(30, 27, 41);
    width: 100%;
    height: 70vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 150%;
    
}
.Main-input{
    display: flex;
    border: 1px solid black;
    width: 30vw;
    height: 5vh;
    border-radius: 20px;
    padding-left: 5%;}


.Main ::placeholder {
    color: grey;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
   
  }
  .Main-h4{
      border-bottom: 1px solid white;
  }
.school-html{
    display: flex;
    border: 1px solid black;
    background-color: rgb(206, 241, 206);
    width: 100%;
    height: 70vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 150%;
   
    
}
.left-container{
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

}
.html-left{
  
 
  
    display: flex;
 
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;


}
.html-submit-main{
 
    display: flex;
    flex-direction: column;
}
.right-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.html-right{
   
    border: 1px solid black;
    background-color: rgb(228, 224, 224);
    width: 600px;
    height: 400px;
    display: flex; 
    justify-content: center;
    justify-content: space-evenly;
 
   
    flex-direction: column;
}
.html-submits4{
    background-color: #04aa6d ;
    border-radius: 25px;
    color: white;
    font-size: 12px;
    border: 1px solid black;
    width: 15vw;
    height: 5vh;
}

.html-submits1{
    background-color: #04aa6d ;
    border-radius: 25px;
    color: white;
    font-size: 12px;
    border: 1px solid rgb(97, 97, 97);
    width: 15vw;
    height: 5vh;
}
.html-submits2{
    margin-top: 10px;
    background-color: rgb(252, 252, 151) ;
    border-radius: 25px;
    color: black;
    font-size: 12px;
    border: 1px solid black;
    width: 15vw;
    height: 5vh;
}
.html-submits3{
    margin-top: 10px;
    background-color: rgb(17, 17, 17);
    border-radius: 25px;
    color: white;
    font-size: 12px;
    border: 1px solid black;
    width: 15vw;
    height: 5vh;

}
.school-css{
    display: flex;
    border: 1px solid black;
    background-color: rgb(252, 252, 151);
    width: 100%;
    height: 70vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 150%;
   
    
}
.css-leftcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.css-left{
    display: flex;
    /* flex: 1; */
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}
.css-submit-main{
   
    display: flex;
    flex-direction: column;
}
.css-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.css-right{
    border: 1px solid black;
    background-color: rgb(228, 224, 224);
    width: 600px;
    height: 400px;
    display: flex; 
    justify-content: center;
    justify-content: space-evenly;
 
   
    flex-direction: column;
}
.css-submits4{
    background-color: #04aa6d ;
    border-radius: 25px;
    color: white;
    font-size: 12px;
    border: 1px solid black;
    width: 15vw;
    height: 5vh;
}

.css-submits1{
    background-color: #04aa6d ;
    border-radius: 25px;
    color: white;
    font-size: 12px;
    border: 1px solid rgb(97, 97, 97);
    width: 15vw;
    height: 5vh;
}
.css-submits2{
    margin-top: 10px;
    background-color: black ;
    border-radius: 25px;
    color: white;
    font-size: 12px;
    border: 1px solid black;
    width: 15vw;
    height: 5vh;
}
.css-submits3{
    margin-top: 10px;
    background-color: rgb(17, 17, 17);
    border-radius: 25px;
    color: white;
    font-size: 12px;
    border: 1px solid black;
    width: 15vw;
    height: 5vh;
    

}
.inner-box{
    display: grid;
    grid-template-areas: "a a";
    padding-top: 50px;
    padding-left: 50px;
    gap: 50px;
   
    /* border: 1px solid rgb(0, 0, 0); */
    background-color: rgb(30, 27, 41);
   

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: x-large;
}
.innerbox-submits{

   
    background-color: rgb(54, 50, 50) ;
    align-items: center;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    border: none;
    width: 200px;
    height: 40px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;


}
.php-box{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 35vh;
    background-color: pink;
   

}

.jQuery-box{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 35vh;

   
    background-color: rgb(245, 245, 151);
   

}

.Java-box{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 35vh;

   
    background-color: rgb(219, 223, 207);
  
}

.C-box{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 35vh;

  
    background-color: rgb(190, 218, 190);
   

}

.W3-box{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 35vh;
    display: flex;
    flex-direction: column;
  
   
    background-color: rgb(138, 185, 197);
   

}

.Bootstrap-box{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 35vh;

   
    background-color: rgb(212, 209, 209);
  
  

}
.library-container{
    display: grid;
    grid-template-areas: "a a a a";
    padding-top: 50px;
    padding-left: 50px;
    gap: 50px;
   
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(30, 27, 41);
   

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: x-large;

}
.inner-library{
    display: flex;
    width: 250px;
    height: 100px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}
.last-border-container{
    display: grid;
    grid-template-areas: "a a ";
    padding-top: 50px;
    padding-left: 50px;
    gap: 50px;
   
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(30, 27, 41);
   

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: x-large;

}
.last-border-library{
    display: flex;
    width: 600px;
    height: 100px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;

}
.code-editor{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 150px;
    padding-bottom: 100px;
    /* justify-content: space-evenly; */
   
    align-items: center;
    /* align-content: center; */
   
    /* border: 1px solid rgb(0, 0, 0); */
    background-color: rgb(30, 27, 41);
  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: xx-large;
    color: white;

}
.editor-text{
    display: flex;
    align-items: center;
}
.code-editor-buttons{
    display: flex;
    flex-direction: column;
}
.editor-button1{
  
    border: none;
    color: white;
    margin-top: 20px;
    width: 300px;
    height: 40px;
    border-radius: 8px;
    font-size: 18px;

}
.editor-button2{
   
    border: none;
    
    margin-top: 20px;
    width: 350px;
    height: 40px;
    border-radius: 8px;
    font-size: 18px;

}
.spaces-container{
    /* border: 1px solid rgb(0, 0, 0); */
    background-color: rgb(30, 27, 41);
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 100px;
    align-items: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
    font-size: xx-large;
    
    
}
.spaces-button{
    color: white;
    border: none;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    font-size: 20px;
    font-style: bold;
}