.navbar{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    height: 10vh;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: inherit;
    align-items: center;
}
.navbar-left{
   
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    width: 5vw;
    height: 4vh;
}
.navbar-center{
    display: flex;
    flex: 1;
    color: white;
    font: hide;
}
.navbar-right{
    display: flex;
    justify-content: right;
   
  
    flex: 1;
  
    

   
}
.navbar-right .navbar-buttons{
    display: flex;
    border: 1px solid rgb(141, 91, 120);
    background-color: pink;
    border-radius: 8px;
    font-size: 100%;
    width:10vw;
    height: 5vh;
}
.navbar-items{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    cursor: pointer;
   
}
.navbar-items:hover{
    border: 1px solid black;
    height: 10vh;
    background-color: #04aa6d;
}
.Main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(30, 27, 41);
    width: 100%;
    height: 70vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 150%;
    
}
.Main-input{
    display: flex;
    border: 1px solid black;
    width: 30vw;
    height: 5vh;
    border-radius: 20px;
    padding-left: 5%;}


.Main ::placeholder {
    color: grey;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    /* opacity: 1; Firefox */
  }
  .Main-h4{
      border-bottom: 1px solid white;
  }
.school-html{
    display: flex;
    border: 1px solid black;
    background-color: rgb(206, 241, 206);
    width: 100%;
    height: 70vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
   
    
}
.html-left{
   
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    font-size: 150%;
}
.html-submit-main{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}
.html-right{
    margin-top: 60px;
    border: 1px solid black;
    background-color: rgb(228, 224, 224);
    width: 10px;
    height: 50vh;
    display: flex; 
    flex: 1;
    flex-direction: column;
}
.html-submits4{
    background-color: #04aa6d ;
    border-radius: 25px;
    color: white;
    font-size: 12px;
    border: 1px solid black;
    width: 15vw;
    height: 5vh;
}

.html-submits1{
    background-color: #04aa6d ;
    border-radius: 25px;
    color: white;
    font-size: 12px;
    border: 1px solid rgb(97, 97, 97);
    width: 15vw;
    height: 5vh;
}
.html-submits2{
    margin-top: 10px;
    background-color: rgb(252, 252, 151) ;
    border-radius: 25px;
    color: black;
    font-size: 12px;
    border: 1px solid black;
    width: 15vw;
    height: 5vh;
}
.html-submits3{
    margin-top: 10px;
    background-color: rgb(17, 17, 17);
    border-radius: 25px;
    color: white;
    font-size: 12px;
    border: 1px solid black;
    width: 15vw;
    height: 5vh;

}
.school-css{
    display: flex;
    border: 1px solid black;
    background-color: rgb(252, 252, 151);
    width: 100%;
    height: 70vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
   
    
}
.css-left{
   
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    font-size: 150%;
}
.css-submit-main{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}
.css-right{
    margin-top: 60px;
    border: 1px solid black;
    background-color: rgb(228, 224, 224);
    width: 10px;
    height: 50vh;
    display: flex; 
    flex: 1;
    flex-direction: column;
}
.css-submits4{
    background-color: #04aa6d ;
    border-radius: 25px;
    color: white;
    font-size: 12px;
    border: 1px solid black;
    width: 15vw;
    height: 5vh;
}

.css-submits1{
    background-color: #04aa6d ;
    border-radius: 25px;
    color: white;
    font-size: 12px;
    border: 1px solid rgb(97, 97, 97);
    width: 15vw;
    height: 5vh;
}
.css-submits2{
    margin-top: 10px;
    background-color: black ;
    border-radius: 25px;
    color: white;
    font-size: 12px;
    border: 1px solid black;
    width: 15vw;
    height: 5vh;
}
.css-submits3{
    margin-top: 10px;
    background-color: rgb(17, 17, 17);
    border-radius: 25px;
    color: white;
    font-size: 12px;
    border: 1px solid black;
    width: 15vw;
    height: 5vh;

}